@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');

img{
    width: 100%;
    border-radius: 10px;
    margin: auto;
}

.white-square{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
}

body{
    text-align: center;
    background-color: hsl(212, 45%, 89%);
    margin: auto;
}

#content{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: 23px;
    margin: auto;
    padding: 5px;
}

#grey-text{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.attribution { 
      font-size: 15px; text-align: center; 
      transform: translateY(169%);
    
    }
    .attribution a {
       color: hsl(228, 45%, 44%);
       }
